language: python
sudo: false
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
install:
  - "pip install -r requirements.txt"
  - pip install codecov
script: python setup.py test
after_success:
  - codecov
