name: Publish latest documentation
on:
  push:
    branches:
      - master
jobs:
  documentation:
    name: Build and deploy documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force
