name: Publish latest documentation
on:
  push:
    branches:
      - master
jobs:
  documentation:
    name: Build and deploy documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: "3.12"
      - run: uvx --with mkdocs-material==9 mkdocs@1.6 gh-deploy --force
